body {
    margin: 0;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#template-idd6 {
    flex-basis: 17%;
    background-color: #1c1e2e;
    background-image: url('https://grapesjs-images.s3.amazonaws.com/grapesjsimages/left%20side%20bg1.png');
    background-repeat: repeat;
    background-position: lefttop;
    background-attachment: scroll;
    background-size: auto;
}

#template-itfo {
    flex-basis: 62%;
    background-color: #f1f4ff;
    transform: translateX(0px)translateY(0px);
}

#template-iziz {
    flex-basis: 21%;
    background-color: #fafcfe;
}

#template-idzb {
    padding: 0000;
    height: 100vh;
}

#template-ixqf {
    flex-wrap: wrap;
    padding: 10px10px10px10px;
}

#template-i2gk {
    padding: 10px;
}

#template-i2ah {
    color: #e8e7ee;
    font-size: 15px;
    font-weight: 600;
}

#template-ip9i5 {
    padding: 0000;
}

#template-i1a71 {
    flex-basis: 32%;
    min-height: 32px;
    height: 32px;
}

#template-izyzy {
    color: black;
    width: 32px;
}

#template-i2mor {
    min-height: 32px;
    padding: 5px04px0;
}

#template-ix09x {
    color: #e8e7ee;
    font-size: 15px;
    font-weight: 500;
}

#template-ia6yq {
    color: black;
    width: 32px;
}

#template-i2ecy {
    flex-basis: 32%;
    min-height: 32px;
    height: 32px;
}

#template-iwzvy {
    min-height: 32px;
    padding: 5px04px0;
}

#template-iuco4 {
    color: #e8e7ee;
    font-size: 15px;
    font-weight: 500;
}

#template-ixx0h {
    color: black;
    width: 32px;
}

#template-iv0kt {
    flex-basis: 32%;
    min-height: 32px;
    height: 32px;
}

#template-i4e57 {
    min-height: 32px;
    padding: 5px04px0;
}

#template-i7r09 {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
}

#template-ie28b {
    color: black;
    width: 32px;
    height: 32px;
}

#template-iusli {
    flex-basis: 32%;
    min-height: 32px;
    height: 32px;
}

#template-iy6je {
    min-height: 32px;
    padding: 5px04px0;
}

#template-ifs56 {
    color: #e8e7ee;
    font-size: 15px;
    font-weight: 500;
}

#template-iksrh {
    color: black;
    width: 32px;
}

#template-issmd {
    flex-basis: 32%;
    min-height: 32px;
    height: 32px;
}

#template-ilbeg {
    min-height: 32px;
    padding: 5px04px0;
}

#template-il3ue {
    color: #e8e7ee;
    font-size: 15px;
    font-weight: 500;
}

#template-id40h {
    margin: 160px000;
    padding: 10px20px020px;
}

#template-ichy5 {
    min-height: 30px;
    height: 30px;
    flex-basis: 30px;
    background-color: #2465fd;
    border-radius: 20%20%20%20%;
    max-width: 30px;
    text-align: center;
    margin: 6px000;
    padding: 10px000;
}

#template-ijkdv {
    min-height: 40px;
    height: 40px;
    flex-basis: 50%;
}

#template-i9qfn {
    color: black;
}

#template-innfz {
    padding: 7px10px10px10px;
    color: #232323;
    font-weight: 500;
    min-height: 40px;
    height: 40px;
}

#template-i2s3s {
    padding: 10px20px10px20px;
    background-color: #fafcff;
}

#template-iplkex {
    min-height: 40px;
    height: 40px;
    flex-basis: 20%;
    display: none;
}

#template-it8bl4 {
    background-color: #ffffff;
    border: 0solid#ffffff;
    height: 40px;
    border-radius: 10px10px10px10px;
    box-shadow: 03px5px0rgba(0000.08);
    min-height: 40px;
    max-width: 100%;
    width: 100%;
    padding: 0009px;
}

#template-ihrr9l {
    padding: 10px10px10px10px;
}

#template-i3pyqy {
    text-align: center;
}

#template-ir1nd4 {
    padding: 5px10px5px10px;
    border-radius: 10px10px10px10px;
    box-shadow: 03px5px0rgba(0000.17);
    color: #000000;
}

#template-ims38g {
    color: black;
    height: 125px;
    min-height: 75px;
}

#template-ij88vi {
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #232323;
    line-height: 17px;
    text-align: left;
}

#template-iyeyt6 {
    padding: 010px010px;
    font-size: 12px;
    font-weight: 500;
    color: #635f73;
    line-height: 17px;
}

#template-i1rq9h {
    background-color: #fafcfe;
    width: 60%;
    border-radius: 50px50px50px50px;
    margin: 16px08px38px;
    color: #5d5d5d;
    font-size: 15px;
    font-weight: 400;
    box-shadow: 03px5px0rgba(0000.15);
    border: 0solid#b64d4d;
}

#template-i7g2xl {
    padding: 5px10px5px10px;
    background-color: #f1f4ff;
    border-radius: 10px10px10px10px;
}

#template-i9w0nk {
    min-height: 50px;
    text-align: right;
}

#template-iqdak4 {
    min-height: 50px;
    text-align: right;
    flex-basis: 20%;
    padding: 5px000;
}

#template-i8oyqg {
    padding: 10px;
    color: #000000;
    font-weight: 500;
}

#template-i2t9kj {
    color: black;
}

#template-i0o9l {
    min-height: 50px;
    border-radius: 10px10px10px10px;
    background-color: rgba(2552552550.13);
    border: 1pxsolid#f1f1f1;
    margin: 016px00;
}

#template-i7ut96 {
    min-height: 40px;
    height: 40px;
    padding: 0000;
    margin: 5px5px05px;
    border-radius: 10px10px10px10px;
    background-color: #f1f4ff;
}

#template-ie9i4s {
    min-height: 40px;
    flex-basis: 70%;
}

#template-ig8xmv {
    min-height: 40px;
    flex-basis: 30%;
}

#template-if2dbz {
    color: black;
}

#template-i95lcc {
    padding: 5px005px;
    color: #4e59b0;
    min-height: 40px;
    height: 40px;
    font-weight: 600;
    text-align: center;
    float: left;
}

#template-iz5gxw {
    padding: 10px10px10px10px;
}

#template-ix09fg {
    padding: 010px10px10px;
}

#template-i63rz7 {
    padding: 010px010px;
    background-color: #f1f4ff;
    height: 62px;
    min-height: 50px;
}

#template-ixv9t {
    border-radius: 10px10px10px10px;
    background-color: #f1f4ff;
    box-shadow: 03px6px0rgba(0000.22);
}

#template-il170n {
    min-height: 60px;
}

#template-id7i {
    min-height: 84px;
    height: 297px;
}

#template-il4u72 {
    color: black;
    margin: 5px000;
    height: 50px;
}

#template-ie82a6 {
    padding: 0000;
}

#template-i5e60z {
    min-height: 40px;
    flex-basis: 20%;
    padding: 15px000;
}

#template-iti9qi {
    min-height: 40px;
    flex-basis: 60%;
}

#template-i9ddft {
    min-height: 40px;
    flex-basis: 20%;
    padding: 15px000;
    display: block;
    position: static;
}

#template-illfjg {
    color: black;
    height: 10px;
}

#template-i12x8m {
    color: black;
}

#template-i9ueh7 {
    padding: 10px010px0;
    font-size: 13px;
    font-weight: 500;
}

#template-iqloje {
    padding: 010px010px;
}

#template-ikhi5x {
    font-size: 13px;
    font-weight: 400;
    color: #635f73;
    line-height: 17px;
    margin: 0010px0;
}

.input.form-control {
    min-height: 50px;
    border: 0solid#ffffff;
    background-color: rgba(0000);
}

#template-iaeh5k {
    height: 1px;
    min-height: 1px;
    padding: 10px20px10px20px;
}

#template-i1arqk {
    min-height: 1px;
    height: 1px;
    background-color: #d0d0d0;
}

#template-i223l5 {
    padding: 10px20px10px20px;
}

#template-iy7ffi {
    min-height: 50px;
    text-align: right;
}

#template-i1gvzf {
    border-radius: 10px10px10px10px;
    max-width: 64%;
    width: 25%;
}

#template-iubb1x {
    min-height: 40px;
}

#template-ija2tr {
    min-height: 30px;
    max-width: 15%;
    border-radius: 10px10px10px10px;
    background-color: #ffffff;
    height: 40px;
    flex-wrap: nowrap;
}

#template-i3whxz {
    padding: 010px010px;
    text-align: left;
}

#template-iv8qc4 {
    min-height: 40px;
    max-width: 30%;
    text-align: center;
    padding: 7px003px;
}

#template-ifnaik {
    min-height: 40px;
    max-width: 70%;
}

#template-iwgo55 {
    padding: 0000;
}

#template-injlb3 {
    color: black;
    height: 25px;
}

#template-irex9s {
    padding: 7px0013px;
    color: black;
    font-weight: 500;
}

#template-ipbzoj {
    padding: 20px10px10px10px;
}

#template-ipgu5h {
    padding: 10px20px10px20px;
}

#template-ir1ygv {
    min-height: 60px;
    border-radius: 10px10px10px10px;
    background-color: #edf2fe;
    box-shadow: 03px6px0rgba(0000.08);
    border: 1pxsolid#ffffff;
}

#template-if48d1 {
    min-height: 57px;
    max-width: 80%;
}

#template-i2o12i {
    min-height: 57px;
    max-width: 5%;
    margin: 0000;
}

#template-i25a6h {
    min-height: 57px;
    max-width: 10%;
}

#template-inmaxp {
    padding: 0000;
}

#template-iwa4ie {
    padding: 5px5px5px5px;
}

#template-in2dq5 {
    min-height: 40px;
    padding: 2px000;
    margin: 4px006px;
    border-radius: 50px50px50px50px;
    flex-basis: 40%;
    max-width: 40px;
    box-shadow: 03px6px0rgba(0000.09);
    border: 1pxsolid#ffffff;
    text-align: center;
    background-color: #fcfdff;
}

#template-iij9es {
    color: black;
    min-height: 10px;
    height: 27px;
    margin: 4px000;
}

#template-iu4it7 {
    font-weight: 500;
    margin: 6px000;
}

#template-ikaihk {
    font-weight: 400;
    font-size: 14px;
    color: #635f73;
}

#template-iadptt {
    min-height: 30px;
    padding: 2px000;
    border-radius: 50px50px50px50px;
    flex-basis: 40%;
    max-width: 30px;
    box-shadow: 03px6px0rgba(0000.09);
    border: 1pxsolid#ffffff;
    text-align: center;
    background-color: #fcfdff;
}

#template-in9bt2 {
    padding: 0000;
    margin: 16px000;
}

#template-i0i3kl {
    min-height: 30px;
    padding: 2px000;
    border-radius: 50px50px50px50px;
    flex-basis: 40%;
    max-width: 30px;
    box-shadow: 03px6px0rgba(0000.09);
    border: 1pxsolid#ffffff;
    text-align: center;
    background-color: #2465fd;
}

#template-i1g4ma {
    padding: 0000;
    margin: 16px000;
}

#template-iiftxw {
    min-height: 57px;
    max-width: 5%;
    margin: 05px05px;
}

#template-ip771t {
    color: black;
    min-height: 10%;
    height: 25px;
}

#template-i358tj {
    color: black;
    height: 20px;
    margin: 2.5px000;
}

#template-itdri2 {
    min-height: 40px;
    margin: 10px10px10px10px;
    border-radius: 10px10px10px10px;
    flex-basis: 40%;
    max-width: 45px;
    text-align: center;
    background-color: #fcfdff;
    background-image: url('https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Mask%20Group%20402.png');
    background-repeat: no-repeat;
    background-position: centercenter;
    background-attachment: scroll;
    background-size: cover;
}

#template-i8l0jp {
    padding: 0000;
}

#template-ib7zzf {
    min-height: 57px;
    max-width: 10%;
}

#template-i9oivg {
    font-weight: 500;
    margin: 6px000;
}

#template-ivblou {
    font-weight: 400;
    font-size: 14px;
    color: #635f73;
}

#template-iasl7t {
    min-height: 57px;
    max-width: 75%;
}

#template-iz5gul {
    min-height: 57px;
    max-width: 10%;
    margin: 0000;
    padding: 18px000;
}

#template-iq5d2f {
    min-height: 57px;
    max-width: 5%;
    text-align: center;
    padding: 18px000;
}

#template-i103zq {
    padding: 0000;
}

#template-iqruzx {
    min-height: 60px;
    border-radius: 10px10px10px10px;
    background-color: #fcfdff;
    box-shadow: 03px6px0rgba(0000.08);
    border: 1pxsolid#ffffff;
}

#template-iz1kai {
    padding: 5px20px020px;
}

#template-ico7gd {
    font-weight: 500;
    text-align: right;
}

#template-in3ane {
    color: black;
    height: 22px;
}

#template-i25b2i {
    border-radius: 10px10px10px10px;
    background-color: #dfe9ff;
}

#template-ihi7zf {
    padding: 10px20px10px20px;
    margin: 20%000;
}

#template-idjlwk {
    padding: 010px020px;
    font-weight: 600;
    margin: 16px000;
}

#template-im9t1l {
    padding: 010px020px;
    font-weight: 400;
}

@media(max-width:992px) {
    #template-idd6 {
        display: none;
    }

    #template-iziz {
        display: none;
    }

    #template-ijkdv {
        display: none;
    }

    #template-iplkex {
        margin: 00016px;
        max-width: 100%;
    }

    #template-idzb {
        flex-wrap: nowrap;
    }

    #template-iaeh5k {
        margin: 9px000;
    }

    #template-if48d1 {
        max-width: 78%;
    }

    #template-iasl7t {
        max-width: 74%;
    }
}

@media(max-width:768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}

@media(max-width:575px) {
    #template-innfz {
        font-size: 15px;
    }

    #template-i2s3s {
        text-align: right;
    }

    #template-ijkdv {
        display: none;
    }

    #template-it8bl4 {
        width: 100%;
        max-width: 100%;
    }

    #template-iplkex {
        flex-basis: 100%;
        text-align: right;
        margin: 00028px;
        max-width: 80%;
    }

    #template-i1gvzf {
        width: 50%;
    }

    #template-iy7ffi {
        text-align: center;
    }

    #template-iiftxw {
        max-width: 10%;
    }

    #template-if48d1 {
        max-width: 60%;
    }

    #template-i2o12i {
        max-width: 10%;
    }

    #template-i25a6h {
        max-width: 15%;
    }

    #template-ija2tr {
        max-width: 30%;
    }

    #template-ib7zzf {
        max-width: 15%;
    }

    #template-iasl7t {
        max-width: 60%;
    }

    #template-iz5gul {
        max-width: 13%;
    }

    #template-iq5d2f {
        max-width: 10%;
    }

    #template-ihi7zf {
        margin: 30%000;
    }

    #template-idjlwk {
        margin: 8px000;
    }

    #template-im9t1l {
        margin: 0010px0;
        font-size: 15px;
        color: #635f73;
    }
}